$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-applepodcasts: "\e900";
$icon-discord: "\e901";
$icon-instagram: "\e902";
$icon-playstation: "\e903";
$icon-rss: "\e904";
$icon-skype: "\e905";
$icon-slack: "\e906";
$icon-spotify: "\e907";
$icon-steam: "\e908";
$icon-tiktok: "\e909";
$icon-twitch: "\e90a";
$icon-twitter: "\e90b";
$icon-xbox: "\e90c";
$icon-youtube: "\e90d";

